<div class="login-container">
  <img class="film" src="assets/images/film.png" alt="movie" />
  <div class="logo">Rotten Zomatoes</div>
  <div class="desc">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid omnis cum
    itaque? Eos nobis, a quidem aliquid fugit quo atque error laudantium
    consectetur tempore voluptas aut alias, dolores ipsam soluta?
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <input type="text" name="uname" class="form-control" />
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input type="text" name="pword" class="form-control" />
    </div>
  </div>
</div>
